*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0d0d0d;
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding:40px 20px;
}

.container{
    width:100%;
    max-width:700px;
    background:#1b1b1b;
    border-radius:20px;
    padding:30px;
    box-shadow:0 0 30px rgba(0,0,0,0.4);
}

h1{
    font-size:42px;
    margin-bottom:10px;
}

h2{
    margin-top:30px;
    margin-bottom:20px;
    font-size:28px;
}

.subtitulo{
    color:#bdbdbd;
    margin-bottom:30px;
}

input{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    margin-bottom:15px;
    background:#2a2a2a;
    color:white;
    font-size:16px;
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#22c7a9;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
    margin-bottom:15px;
}

button:hover{
    opacity:0.85;
}

a{
    display:block;
    text-decoration:none;
    color:#22c7a9;
    margin-top:10px;
    font-weight:bold;
}

#dadosLocalizacao{
    margin-top:20px;
    color:#d6d6d6;
    line-height:1.8;
}

.cardAluno{
    background:#2a2a2a;
    border-radius:16px;
    padding:20px;
    margin-bottom:15px;
    border-left:6px solid #22c7a9;
}

.cardAluno h3{
    margin-bottom:10px;
    font-size:22px;
}

.cardAluno p{
    margin-top:6px;
    color:#d7d7d7;
}

.info{
    background:#232323;
    padding:15px;
    border-radius:12px;
    margin-top:20px;
}

.sucesso{
    background:#143d35;
    color:#65ffcf;
    padding:15px;
    border-radius:12px;
    margin-top:20px;
}

.erro{
    background:#4a1f1f;
    color:#ff9090;
    padding:15px;
    border-radius:12px;
    margin-top:20px;
}

@media(max-width:768px){

    h1{
        font-size:32px;
    }

    .container{
        padding:20px;
    }
.logoTopo{

    text-align:center;

    margin-bottom:25px;

}

.logoCircle{

    width:90px;

    height:90px;

    border-radius:50%;

    background:linear-gradient(
        135deg,
        #31c7b7,
        #5f7cff
    );

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:40px;

    margin:auto;

    margin-bottom:15px;

    box-shadow:0 0 25px rgba(49,199,183,0.3);

}

.logoTopo h1{

    font-size:38px;

    margin-bottom:5px;

    color:white;

}

.logoTopo p{

    color:#999;

    font-size:14px;

}
    .logoTopo h1{

    margin-top:10px;

}
    .btnEncerrar{

    width:100%;

    background:#ff3b5c;

    margin-top:15px;

}

.btnEncerrar:hover{

    background:#ff2448;

}

button#btnSair{

    width:100%;

    background:#ff4d4d !important;

    margin-top:15px;

}

button#btnSair:hover{

    background:#ff1f1f !important;

}

select{

    width:100%;

    padding:15px;

    margin-bottom:15px;

    border:none;

    border-radius:10px;

    background:#2b2b2b;

    color:white;

    font-size:16px;

}
